@import '../../abstracts/variables/colors';
@import '../../abstracts/variables/mixins';

#sidebar {
    h3 {
        margin-bottom:30px;
    }
    .row {
        margin-bottom:30px;
    }

    img {
        max-width:100%;
    }

    h4 {
        a {
            text-decoration: none;
            color:#000;
            @include animateAll;

            &:hover {
                color: $color__main-accent;
                @include animateAll;
            }
        }
    }
}