$color__main-accent: rgba(98, 55, 160, 1);
$color__main-accent-0: rgba(98, 55, 160, 0);
$color__secondary-accent: rgba(151, 84, 203, 1);
$color__bg-main: #fff;
$color__bg-sub: #FAFAFA;


$color__bg-dark-purple: #0b0205;
$color__bg-light-purple: #2c1b47;

$color__bg-gradient: linear-gradient(90.73deg, $color__main-accent 0%, $color__secondary-accent 10%);
$color__btn-gradient: linear-gradient(to right, $color__main-accent 50%, $color__secondary-accent 100%);